<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="./style1.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Kids Sabsc(product)</title>
  <link rel="stylesheet" href="/style1.css">
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css'>
  <link rel='stylesheet' href='https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'>



</head>
<body>
    <!-- Vueで指定された"app"要素、この中でのみVueが有効 -->
    <div id="app">
        <v-app>
            <!-- ヘッダー -->
            <v-app-bar app class="custom-font" style="justify-content: space-between;" >
                
                <v-btn v-on:click="addData"
                  dark
                  rounded
                  class="custom-font"
                  aria-label="ログアウト"
                   title="ログアウト" >
                 <v-icon start>
                    mdi-logout
                </v-icon>
                  Logout
                </v-btn>

               

                <v-toolbar-title  style="position: absolute; left: 50%; transform: translateX(-50%);">
                    Kids Sabsc</v-toolbar-title>

                <div style="display: flex; margin-left: auto;">
                <v-btn v-on:click="dialog = true"
                  dark
                  rounded
                  class="custom-font"
                  style="margin-right: 16px;"
                  aria-label="カート"
                  title="カート">
                  
                 <v-icon start>
                    mdi-cart
                </v-icon>
                </v-btn>

                <v-btn v-on:click="addData" dark color="#f09199" rounded class="custom-font" 
                title="マイページ" aria-label="マイページ" >
                    <v-icon start>
                      mdi-weather-night
                    </v-icon>
                    My page
                  </v-btn>
                </div>
            </v-app-bar>
           <v-dialog v-model="dialog" max-width="600px">
        <v-card>
          <v-card-title>
            カートの中身
            <v-spacer></v-spacer>
            <v-btn icon @click="dialog = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-card-title>
          <v-card-text>
            <v-list>
              <v-list-item v-for="(item, index) in cartItems" :key="index">
                <v-list-item-content>
                  <v-list-item-title>{{ item.name }}</v-list-item-title>
                  <v-list-item-subtitle>{{ item.price }}円</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" text @click="dialog = false">閉じる</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
            
                <template>
                    <v-main>
                        <v-container>
                            <v-row class="d-flex justify-center align-center" style="width: 100%;">
                                <v-col
                                cols="12"
                                sm="6"
                                md="3"
                                >
                                <v-select
                              label="Category"
                              solo
                              :items="['Tops', 'Pants','Skirt']"
                                ></v-select>
                                </v-col>
                                <v-col
                                cols="12"
                                sm="6"
                                md="3"
                                >
                                <v-select
                                label="Kids gender"
                                solo
                                :items="['Boy', 'Girl','All']"
                                > </v-select>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-main>
                </template>
            </v-main>
                    


            <!-- フッター -->
            <v-footer app padless class="custom-font">
                <v-col class="text-center" cols="12">
                    © 2024 TeamA
                </v-col>
                
                <v-btn dark fab fixed bottom right large elevation-6 title="一番上にスクロール" aria-label="一番上にスクロール" color="#f09199">
                    <v-icon>mdi-chevron-up</v-icon>
                  </v-btn>
                  
            </v-footer>
        </v-app>
    </div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js'></script>
    <script src="/script1.js"></script>
</body>
</html>
<!-- partial -->
  <script  src="./script1.js"></script>

</body>
</html>