<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kids Sabsc (Product)</title>
  <link rel="stylesheet" href="./style4.css">
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css'>
  <link rel='stylesheet' href='https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1&display=swap" rel="stylesheet">
</head>

<body>
  <div id="app">
    <v-app>
      <!-- ヘッダー -->
      <v-app-bar app class="custom-font" style="justify-content: space-between;" color="#FFF8DC">
        <v-btn @click="Logout" dark rounded class="custom-font" aria-label="ログアウト" title="ログアウト">
          <v-icon start>mdi-logout</v-icon>
          Logout
        </v-btn>
        <v-toolbar-title style="position: absolute; left: 50%; transform: translateX(-50%);">Kids Sabsc</v-toolbar-title>
       
     <v-btn @click="orderdetail" dark color="#f09199" rounded class="custom-font" title="注文詳細" aria-label="注文詳細">
            order detail
          </v-btn>
         </v-app-bar>

      <!--タブ-->
      <ul class="tab-group">
        <li class="tab tab-A is-active">Regist Product</li>
        <li class="tab tab-B" v-on:click="readData">All Product</li>
      </ul>

      <!--タブを切り替えて表示するコンテンツ-->
      <div class="panel-group">
        <div class="panel tab-A is-show">
          <v-row class="mb-3 mt-3" align="center" justify="center">
            <v-col cols="4">
              <select id="temp-A" v-model="product_category" class="product_category">
                <option value="">category</option>
                <option value="Tops">Tops</option>
                <option value="Pants">Bottoms</option>
                <option value="All">All</option>
              </select>
              <select id="temp-B" v-model="product_gender" class="product_gender">
                <option value="">gender</option>
                <option value="Girl">Girl</option>
                <option value="Boy">Boy</option>
                <option value="All">All</option>
              </select>
            </v-col>
            <v-col cols="6">
              <v-text-field class="ml-6 mr-6" v-model="product_name" label="product name" placeholder="product" outlined></v-text-field>
              <v-text-field class="ml-6 mr-6" v-model="URL" label="URL" placeholder="URL" outlined></v-text-field>
            </v-col>
          </v-row>
          <v-row class="mb-3 mt-3" align="center" justify="center">
            <v-btn v-on:click="addData" dark big color="brown">
              <v-icon left>mdi-content-save</v-icon>
              save
            </v-btn>
          </v-row>
        </div>

        <div class="panel tab-B">
          <v-row class="mb-3 mt-3" justify="center">
            
            <!-- Card Container for product List -->
            <v-row class="productlist">
              <v-col v-for="data in productList" :key="data.product_id" cols="12" sm="4" md="4">
                <v-card class="['mx-auto', 'my-3', { 'expand': data.isExpanded }]" max-width="344" style="min-height: 450px;" v-on:click="toggleExpand(data)">
                  <v-card-title>
                    <span> {{ data.product_name }}</span>
                  </v-card-title>
                  <v-card-subtitle>
                    <span> {{ data.product_category }}</span><br>
                  </v-card-subtitle>
                  <v-card-text>
                    <p>{{ data.product_gender }}</p>
                  </v-card-text>
                  <v-card-actions>
                    <v-img :src="data.URL" height="200" contain></v-img>
                    <v-btn v-on:click="deleteData(data)" style="position: absolute; top: 8px; right: 8px;" small rounded>
                      <v-icon>mdi-delete-forever</v-icon>
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
          </v-row>
        </div>
      </div>

      <!-- フッター -->
      <v-footer app padless class="custom-font" color="#FFF8DC">
        <v-col class="text-center" cols="12">
          © 2024 TeamA
        </v-col>
        <v-btn dark fab fixed bottom right large elevation-6 title="一番上にスクロール" aria-label="一番上にスクロール" color="#f09199" @click="scrollToTop">
          <v-icon>mdi-chevron-up</v-icon>
        </v-btn>
      </v-footer>
    </v-app>
  </div>

  <!-- JavaScript -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js'></script>
  <script src="./script4.js"></script>
</body>
</html>
