<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KidsSubsc</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="./style5.css">
</head>
<body>
    <div id="app">
        <v-app>
            <!-- アプリバー -->
            <v-app-bar app class="custom-font" color="#FFF8DC">
                <!-- ログアウトボタン -->
                <v-btn @click="Logout" dark rounded class="custom-font logout-btn" aria-label="ログアウト" title="ログアウト">
                    <v-icon start>mdi-logout</v-icon>
                    Logout
                </v-btn>

                <!-- HOMEボタン -->
                <v-btn @click="addData" dark color="#f09199" rounded class="custom-font">
                    <v-icon start>mdi-home</v-icon>
                    Home
                </v-btn>

                <v-spacer></v-spacer>
                <v-toolbar-title class="centered-title">Kids Subsc</v-toolbar-title>
                <v-spacer></v-spacer>
            </v-app-bar>

            <v-main>
                <v-container>
                    <!-- 注文詳細 -->
                    <v-card flat>
                        <v-card-text class="centered-content">
                            <h2>注文詳細</h2> <!-- 注文詳細のタイトルを追加 -->
                            <!-- データ取得中 -->
                            <v-row justify="center" v-if="loading">
                                <v-col cols="12">
                                    <v-progress-circular indeterminate color="primary"></v-progress-circular>
                                    <p>データを取得中...</p>
                                </v-col>
                            </v-row>

                            <v-row class="mb-3 mt-3" justify="center" v-if="orderHistory && orderHistory.length">
                                <v-col v-for="order in sortedOrderHistory" :key="order.product_id" cols="12" sm=12 md="6">
                                    <v-card class="custom-card">
                                        <v-card-title>
                                            注文番号: {{ order.detail_id }}
                                            <v-checkbox v-model="order.checked" class="ml-auto" @change="toggleChecked(order)"></v-checkbox>
                                        </v-card-title>
                                        <v-card-subtitle>注文者名: {{ order.user_name }}</v-card-subtitle>
                                        <v-card-subtitle>メール: {{ order.user_mail }}</v-card-subtitle>
                                        <v-card-subtitle>郵便番号: {{ order.user_postcode }}</v-card-subtitle>
                                        <v-card-subtitle>住所: {{ order.user_adress }}</v-card-subtitle>
                                        <v-card-subtitle>電話番号: {{ order.user_telenum }}</v-card-subtitle>

                                     <v-list-item>
                                                <v-img :src="order.URL" alt="商品画像" max-width="100" class="mr-3"></v-img>
                                                <v-list-item-content>
                                                    <v-card-subtitle>商品名: {{ order.product_name }}</v-list-item-title>
                                                    <v-card-subtitle>商品ID: {{ order.product_id }}</v-list-item-subtitle>
                                                    <v-card-subtitle>サイズ: {{ order.product_size }}</v-list-item-subtitle>
                                                    <v-card-subtitle>個数: {{ order.quantity }}</v-list-item-subtitle>
                                                </v-list-item-content>
                                        </v-list-item>

                                        
                                    </v-card>
                                </v-col>
                            </v-row>

                            <!-- 注文履歴がない場合 -->
                            <v-row justify="center" v-else-if="!loading && orderHistory && !orderHistory.length">
                                <v-col cols="12">
                                    <p>注文履歴がありません。</p>
                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-container>
            </v-main>

            <!-- フッター -->
            <v-footer app padless class="custom-font" color="#FFF8DC">
                <v-col class="text-center" cols="12">
                    © 2024 TeamA
                </v-col>
                <v-btn dark fab fixed bottom right large elevation-6 title="一番上にスクロール" aria-label="一番上にスクロール" color="#f09199" @click="scrollToTop">
                    <v-icon>mdi-chevron-up</v-icon>
                </v-btn>
            </v-footer>
        </v-app>
    </div>

    <!-- 必要なスクリプトを読み込み -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
    <script src="./script5.js"></script>
</body>
</html>
