<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kidssubsc</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="app">
        <v-app>
            <v-app-bar app class="custom-font">
                <v-toolbar-title class="text-center flex-grow-1">Kids Sabsc</v-toolbar-title>
                <v-btn v-on:click="dialog = true" dark color="#f09199" rounded class="custom-font">
                    Login
                    <v-icon start>
                        mdi-pencil
                    </v-icon>
                </v-btn>
            </v-app-bar>

            <!-- ログインダイアログ -->
            <v-dialog v-model="dialog" max-width="400">
                <v-card>
                    <v-card-title class="headline">Login</v-card-title>
                    <v-card-text>
                        <v-text-field v-model="user_mail" label="mail" outlined></v-text-field>
                        <v-text-field
                            v-model="user_pass"
                            label="Password"
                            type="password"
                            outlined
                        ></v-text-field>
                        <v-alert v-if="error_message" type="error" border="left" colored-border>
                            {{ error_message }}
                        </v-alert>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" @click="login">Login</v-btn>
                        <v-btn @click="dialog = false">Cancel</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <!-- スライドの外枠 -->
            <div class="slide-wrapper">
                <div id="slide" class="slide">
                    <div>
                        <img src="https://i.gyazo.com/a7ad1a2a604a97145aa7036d387f34d8.jpg">  
                    </div>
                    <div>
                        <img src="https://i.gyazo.com/312c0a62a09c78741065f2184f6ce979.jpg">  
                    </div>
                    <div>
                        <img src="https://i.gyazo.com/d3d1be17b96ff29d9c82f63665f6caf5.jpg">  
                    </div>
                </div>
                <span id="prev" class="prev"></span>
                <span id="next" class="next"></span>
                <ul class="indicator" id="indicator">
                    <li class="list"></li>
                    <li class="list"></li>
                    <li class="list"></li>
                </ul>
            </div>

            <div class="explanation">
                <h2>「毎日がもっと楽しく、もっと便利に。お子様の成長をサポートするサブスクリプションサービス」</h2>
                <p>私たちのサブスクリプションサービスは、<br>
                    お子様の成長に合わせた高品質な用品を毎月お届けします。<br>
                    忙しいパパママにも安心してご利用いただけるよう、厳選された商品をお手元にお届け。<br>
                    お子様にぴったりのアイテムが、自動で届く便利さを是非体験してください。
                </p>
            </div>

            <div class="plan">
                <h2>借りられる商品数: 1回のご利用で最大5点まで<br>
                    配送: 月に1回、お手元にお届けします<br>
                    交換: ご希望の商品を新しいものと交換することができます
                </h2>
            </div>
        </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./script.js"></script>
</body>
</html>
