/* フッター、ヘッダーのフォント設定 */
.custom-font {
     font-family: 'M PLUS 1', sans-serif
  !important;
  }
  .empty-cart-message {
    color: red;
    font-weight: bold;
    font-family: 'M PLUS 1', sans-serif;
  }

/* カートの距離*/
.custom-font-size {
  margin-bottom: 0; /* サイズの下の余白を削除 */
}
.custom-font-quantity {
  margin-top: 0;    /* 数量の上の余白を削除 */
}
