/* フッター、ヘッダーのフォント設定 */
.custom-font {
    font-family: 'Times New Roman', sans-serif !important;
}

/* ヘッダーのタイトルを中央に配置 */
.centered-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* タブのコンテナを中央に配置 */
.custom-tabs {
    display: flex;
    justify-content: center; /* 横方向に中央揃え */
    padding: 0;
    margin: 0;
}

/* タブ内のコンテンツを中央に配置 */
.centered-content {
    text-align: center; /* 文章の中央揃え */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* タブの文字色を指定カラーに設定 */
.v-tab {
    color: #000000; /* デフォルトの文字色 */
}

.v-tab--active {
    color: #f09199; /* 選択されたタブの文字色 */
}

/* タブの色の変更が適用されるようにする */
.v-tabs .v-tab--active {
    color: #f09199 !important; /* タブが選択されたときの文字色 */
}

/* アンダーラインの色を指定カラーに設定 */
.v-tabs .v-tab--active {
    border-bottom: 2px solid #f09199; /* 選択されたタブのアンダーラインの色 */
}

/* カードのスタイリング */
.custom-card {
    background-color: #f5f5f5; /* 背景色 */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* カードの影 */
    padding: 20px;
}

/* リストアイテムのアイコンと内容を中央揃え */
.v-list-item {
    align-items: center;
}

/* アイコンの色 */
.v-list-item-icon > v-icon {
    color: #f09199;
}
