/* フッター、ヘッダーのフォント設定 */
.custom-font {
     font-family: 'M PLUS 1', sans-serif
  !important;
  }
  .empty-cart-message {
    color: red;
    font-weight: bold;
    font-family: 'M PLUS 1', sans-serif;
  }
