/* フッター、ヘッダーのフォント設定 */
.custom-font {
  font-family: 'Times New Roman', sans-serif !important;
}

/* タブのコンテナを中央に配置 */
.custom-tabs {
  display: flex;
  justify-content: center; /* 横方向に中央揃え */
  padding: 0;
  margin: 0;
}