/* フッター、ヘッダーのフォント設定 */
.custom-font {
     font-family: 'M PLUS 1', sans-serif
  !important;
  }
  .empty-cart-message {
    color: red;
    font-weight: bold;
    font-family: 'M PLUS 1', sans-serif;
  }

/* カートの距離*/
.custom-font-size {
  margin-bottom: 0px; /* サイズと数量間のスペースを削除 */
}

.custom-font-quantity {
  margin-top: 4px; /* 少しの余白を追加し、見栄えを整える */
}
