/* フッター、ヘッダーのフォント設定 */
.custom-font {
  font-family: 'Times New Roman', sans-serif !important;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url('https://i.gyazo.com/7662a8e646a25c518d0626b99c3d06b4.jpg'); /* 画像URLを指定 */
  background-size: contain; /* 画像の縦横比を維持しつつ表示 */
  background-repeat: no-repeat; /* 画像を繰り返さない */
  background-position: center; /* 画像を中央に配置 */
  color: white;
  height: 408px; /* 高さを画像の縦サイズに合わせる */
}

.login-container {
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.login-header {
  text-align: center;
  margin-bottom: 2rem;
}

.login-header h1 {
  font-size: 2rem;
  color: #C9A66B;
}

.login-header p {
  color: #555;
}

.login-footer {
  text-align: center;
  margin-top: 1rem;
}

.footer-link-container {
  display: flex;
  justify-content: flex-start; /* 左揃え */
  padding-left: 16px; /* 少し余白を追加して左端にぴったりにならないように */
}

.footer-link {
  color: black; /* 通常時の文字色 */
  text-decoration: none; /* 下線を消す */
  font-weight: bold; /* 文字を太字にする */
  transition: color 0.3s ease; /* 色の変化を滑らかにする */
}

/* ホバー時のスタイル */
.footer-link:hover {
  color: #3cb371;
}
