<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App開発２</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="./yuna.css">
</head>
<body>
    <!-- Vueで指定された"app"要素、この中でのみVueが有効 -->
    <div id="app">
        <v-app>
            <!-- ヘッダー -->
            <v-app-bar app class="custom-font">
                <v-toolbar-title>Kids Sabsc</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn v-on:click="dialog = true" dark color="#3cb371" rounded class="custom-font">
                    Login
                    <v-icon start>
                        mdi-pencil
                    </v-icon>
                </v-btn>
            </v-app-bar>

            <!-- ログインダイアログ -->
            <v-dialog v-model="dialog" max-width="400">
                <v-card>
                    <v-card-title class="headline">Login</v-card-title>
                    <v-card-text>
                        <v-text-field v-model="user_mail" label="mail" outlined></v-text-field>
                        <v-text-field
                            v-model="user_pass"
                            label="Password"
                            type="password"
                            outlined
                        ></v-text-field>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" @click="login">Login</v-btn>
                        <v-btn @click="dialog = false">Cancel</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <!-- フッター -->
            <v-footer app padless class="custom-font">
                <v-col class="text-center" cols="12">
                    © 2024 TeamA
                </v-col>
                <v-col class="text-left" cols="12">
                    <a href="https://example.com" class="footer-link">employee</a>
                </v-col>
            </v-footer>
        </v-app>
    </div>

    <!-- Vue.js、Vuetify、Axiosのスクリプトを読み込む -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
    <script src="./yuna.js"></script>
</body>
</html>
